body {
	font-size: 32px;
	font-family: Tahoma;
}

.tableheader {
	background-color: #95BEE6;
	color:white;
	font-weight:bold;
}

.tablerow {
	background-color: #A7D6F1;
	color:white;
}

.message {
	color: #FF0000;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.container {
	background-color: #95BEE6;
	width: 100%;
	max-width: 1000px;
	padding: 5px 0;
	text-align: center;
	margin: 0 auto;
}

.gameSelect {
	background-color: #A7D6F1;
	width: 100%;
	max-width: 1000px;
/*	padding: 5px 0;*/
	text-align: center;
	margin: 0 auto;
}

.clear {
	clear: both;
	float: none;
}

.gameTable {
	width: 100%;
	max-width: 1000px;
	border-collapse: collapse;
}

.gameColl {
	width: 50%;
	padding: 0;
	margin: 0;
	border-left: 2px solid black;
	border-right: 2px solid black;
	text-align: left;
	padding-left: 20px;
}

.title {
	text-align: center;
	padding: 0;
}

.gameTable input {
	width: 80px;
	font-size: 32px;
	font-family: Tahoma;
}

.gameTable input.digits {
	width: 80px;
}


button {
	font-family: "Courier New";
	padding: 12px 18px;
	font-size: 20px;
}

 select {
	font-size: 32px;
	font-family: Tahoma;
}

/*button.minus {
	padding: 12px 21px 12px 20px;
}*/